:root {
  --bg-layout: #ffffff;
  --bg-layout-to: #c12cf87d;
  --bg-layout-bottom: #88888833;
  --bg-layout-right: #d38dffa5;

  --logo-text-color: #00000027;
}

[data-theme="dark"] {
  --bg-layout: #05050a;
  --bg-layout-to: #c31dff24;
  --bg-layout-bottom: #2b04441c;
  --bg-layout-right: #000000a6;

  --logo-text-color: #ffffff32;
}
